body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    width: 1440px;
    text-align: center;
    padding-top: 220px;
}
.first_screen {
    height: 930px;
    width: 1440px;
    position: relative;
}
.first_screen h1 {
    font-family: 'FantasqueRegular';
    font-size: 200px;
    color: #262626;
    text-transform: uppercase;
}
.first_screen h2 {
    font-family: 'FantasqueRegular';
    font-size: 120px;
    color: #262626;
    text-transform: uppercase;
}
.first_screen h3 {
    font-family: 'FantasqueRegular';
    font-size: 30px;
    color: #262626;
    text-transform: uppercase;
    position: relative;
    top: 130px;
    letter-spacing: 3px;
}
.first_scan {
    width: 1440px;
    height: 930px;
    position: absolute;
    background: url(../images/1scan.svg);
    top: 0;
    left: 0;
}
.first_screen h3::before {
    position: absolute;
    content: url(../images/1check.svg);
    bottom: 40px;
}
.second_screen {
    height: 1024px;
    width: 1440px;
    position: relative;
    background: url(../images/2back.svg);
    display: flex;
    justify-content: center;
    align-items: center;
} 
.lable1 {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    left: 60px;
    top: 8px;
    position: absolute;
}
.text_left, .text_center, .text_right {
    width: 300px;
    height: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 360px;
}
.second_screen > img {
    z-index: 100;
    position: absolute;
    top: 496px;
}
.buble {
    width: 440px;
    height: 250px;
    background: url(../images/buble1.svg);
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    background-repeat: no-repeat;
    top: 200px;
    right: 260px;
    padding-top: 40px;
}
.buble h1 {
    font-family: 'FantasqueBoldItalic';
    font-size: 80px;
    line-height: 90%;
}
.buble h2 {
    font-family: 'FantasqueItalic';
    font-size: 60px;
    line-height: 90%;
}
.text_left {
    margin-right: 90px;
}
.text_left h1 {
    font-family: 'FantasqueBold';
    font-size: 88px;
    line-height: 70px;
    letter-spacing: -4%;
    text-transform: uppercase;
    color: #262626;
    padding-top: 24px;
}
.text_left p {
    font-family: 'FantasqueRegular';
    font-size: 22px;
    color: #262626;
}
.text_center {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text_center img {
    width: 269px;
    height: 88px;
}
.text_center p {
    font-family: 'FantasqueRegular';
    font-size: 22px;
    color: #262626;
}
.text_center h1 {
    font-family: 'FantasqueBold';
    font-size: 60px;
    line-height: 60px;
    color: #262626;
}
.text_center h3 {
    font-family: 'FantasqueBold';
    font-size: 38px;
    line-height: 60px;
    color: #262626;
}
.text_right {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_right h1 {
    font-family: 'FantasqueBold';
    font-size: 60px;
    line-height: 48px;
    color: #262626;
    padding-top: 16px;
}
.text_right p {
    font-family: 'FantasqueRegular';
    font-size: 22px;
    color: #262626;
}
.text_right img {
    width: 156px;
    height: 213px;
}
.third_screen {
    width: 1440px;
    position: relative;
}
.third_screen p {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    margin-left: 60px;
    margin-bottom: 24px;
}
.third_screen > img {
    z-index: 100;
    position: absolute;
    top: 380px;
    left: 14px;
}
.boxes {
    width: 1320px;
    height: 700px;
    position: relative;
    display: flex;
    gap: 14px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.boxes1 {
    width: 340px;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.boxes2 {
    width: 500px;
    height: 644px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #262626;
    padding: 24px 0;
}
.boxes2 h1 {
    font-family: 'FantasqueItalic';
    font-size: 400px;
    rotate: -20deg;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
}
.middle4box {
    width: 442px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.boxes3 {
    width: 450px;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#box1, #box2, #box3, #box5-1, #box5-2, #box6 {
    border: 4px solid #262626;
    display: flex;
}
.boxleft {
    width: 330px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#box1 h5 {
    font-family: 'FantasqueItalic';
    font-size: 40px;
    color: #262626;
}
#box2 {
    font-family: 'FantasqueBoldItalic';
    font-size: 180px;
    color: #262626;
    bottom: 40px;
}
#box3 {
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.pict {
    width: 280px;
    height: 148px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.pict > div {
    width: 110px;
    height: 148px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.pict img {
    width: 92px;
    height: 92px;
    position: relative;
}
.pictcheck img {
    width: 274px;
    height: 40px;
    position: relative;
}
#box3 h6 {
    font-family: 'FantasqueBold';
    font-size: 24px;
    color: #262626;
    display: flex;
    text-align: center;
}
.boxright {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid #262626;
}
.boxright img {
    width: 92px;
    height: 92px;
    position: relative;
    margin-top: 24px;
}
.boxright h6 {
    font-family: 'FantasqueBold';
    font-size: 24px;
    color: #262626;
    display: flex;
    text-align: center;
}
.box5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
#box5-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#box5-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.boxright::before {
    position: absolute;
    content: url(../images/3check5box.svg);
    top: 0;
}
#box6 {
    width: 442px;
    height: 470px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#box6 h1 {
    font-family: 'FantasqueBold';
    font-size: 400px;
    color: #262626;
}
#box6 h3 {
    font-family: 'FantasqueRegular';
    font-size: 60px;
    color: #262626;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 40px;
    left: 24px;
}
#box6 img {
    position: absolute;
    left: 340px;
    top: 52px;
}
.circle-text {
    width: 300px;
    height: 300px;
}
text {
    font-size: 20px;
}
textPath {
    text-anchor: middle;
}
.separator {
    width: 1440px;
    margin: 60px 0 0 0;
}
.separator div {
    width: 825px;
    height: 74px;
    font-family: 'FantasqueBold';
    font-size: 90px;
    text-transform: uppercase;
    color: #262626;
    position: relative;
    rotate: -10deg;
    margin: 0 auto;
    bottom: 248px;
}
.fourth_screen {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: space-between;
    background: url(../images/eggscase.svg);
}
.lable2 {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    margin-bottom: 24px;
    margin-left: 60px;
    position: absolute;
}
#scan4 {
    z-index: 100;
    position: absolute;
    margin-top: 24px;
}
.leftpart {
    width: 924px;
    height: 906px;
    margin-left: 56px;
    margin-top: 197px;
}
.texteggs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.texteggs h1 {
    font-family: 'FantasqueBold';
    font-size: 140px;
    color: #262626;
}
.texteggs h2 {
    font-family: 'FantasqueRegular';
    font-size: 100px;
    color: #262626;
}
.crops {
    width: 872px;
    height: 334px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    margin: 60px 0 0 20px;
}
.crops > div {
    width: 160px;
    height: 160px;
    border: 4px solid #262626;
    margin-left: 0;
    overflow: hidden;
    position: relative; 
    border-radius: 100%;
}
.crops > div > p {
    color: #262626;
    position: absolute;
    top: -126px;
    right: 8px;
}
.f {
    font-size: 264px;
    font-family: 'FantasqueItalic';
}
.h {
    font-size: 264px;
    font-family: 'FantasqueRegular';
}
.n {
    font-size: 362px;
    font-family: 'FantasqueRegular';
}
.d {
    font-size: 264px;
    font-family: 'FantasqueRegular';
}
.g {
    font-size: 450px;
    font-family: 'FantasqueRegular';
}
.sh {
    font-size: 264px;
    font-family: 'FantasqueItalic';
}
.ts {
    font-size: 300px;
    font-family: 'FantasqueRegular';
}
.z {
    font-size: 374px;
    font-family: 'FantasqueRegular';
}
.l {
    font-size: 264px;
    font-family: 'FantasqueItalic';
}
.e {
    font-size: 320px;
    font-family: 'FantasqueRegular';
}
.rightpart {
    width: 300px;
    height: 800px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-right: 80px;
    margin-top: 100px;
}
.rightpart h1 {
    font-family: 'FantasqueItalic';
    font-size: 360px;
    color: #262626;
}
.eggletter1 {
    width: 312px;
    height: 420px;
    background: url(../images/eggtop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.eggletter2 {
    width: 312px;
    height: 420px;
    background: url(../images/eggbuttom.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.eggletter1 h1 {
    rotate: 5deg;
}
.eggletter2 h1 {
    margin-top: 26px;
    margin-right: 8px;
    rotate: -40deg;
}
.fifth_screen {
    width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.fifth_screen p {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    margin-bottom: 24px;
    margin-left: 60px;
}
#scan5 {
    z-index: 100;
    position: absolute;
    margin-top: -40px;
}
.showcase {
    width: 1320px;
    height: 360px;
    line-height: 1400%;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 60px;
    border-top: 3px solid black;
    margin: 0 60px 0 60px;
}
.showcase h1 {
    font-family: 'FantasqueBold';
    font-size: 500px;
    color: #262626;
}
.showcase h2 {
    font-family: 'FantasqueBoldItalic';
    font-size: 500px;
    color: #262626;
}
.showcase h3 {
    font-family: 'FantasqueItalic';
    font-size: 500px;
    color: #262626;
}
.showcase h4 {
    font-family: 'FantasqueRegular';
    font-size: 500px;
    color: #262626;
}
.pricetags {
    width: 1320px;
    display: flex;
    justify-content: center;
    gap: 12px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 0 60px 0 60px;
}
.pricetag {
    width: 300px;
    height: 152px;
    border-left: 2px solid #262626;
    border-right: 2px solid #262626;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}
.pricename {
    height: 152px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 80px;
    left: 16px;
}
.pricename img {
    width: 84px;
    height: 26px;
}
.price {
    width: 164px;
    height: 74px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    right: 32px;
    bottom: 12px;
}
.price1 {
    width: 96px;
    height: 74px;
    font-family: 'FantasqueBold';
    font-size: 92px;
    color: #262626;
}
.price2 {
    width: 58px;
    height: 44px;
    font-family: 'FantasqueBold';
    font-size: 55px;
    color: #262626;
}
.price3 {
    height: 19px;
    font-family: 'FantasqueBold';
    font-size: 24px;
    color: #262626;
    text-transform: uppercase;
}
.toptextcup {
    width: 660px;
    font-family: 'FantasqueRegular';
    font-size: 32px;
    color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 105px;
    left: -6px;
}
.bottextcup {
    font-family: 'FantasqueRegular';
    font-size: 32px;
    color: #262626;
    display: flex;
    align-items: center;
    position: relative;
}
.sixth_screen {
    width: 1440px;
    height: 1340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
}
.lable3 {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    position: absolute;
    top: 24px;
    left: 60px;
}
#scan6 {
    z-index: 100;
    position: absolute;
    left: 320px;
    margin-top: 410px;
}
.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toppict {
    width: 70px;
    display: flex;
    height: 88px;
    position: relative;
    left: 360px;
    top: 90px;
}
.bottompict {
    width: 220px;
    display: flex;
    height: 118px;
    position: relative;
    left: -450px;
    top: -90px;
}
.linecup {
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstlinecup {
    width: 764px;
    height: 350px;
    position: relative;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/Cup.svg);
    background-repeat: no-repeat;
    font-family: 'FantasqueBold';
    font-size: 200px;
    color: #262626;
}
.secondlinecup {
    width: 764px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    top: 140px;
    background: url(../images/Cup.svg);
    background-repeat: no-repeat;
    font-family: 'FantasqueRegular';
    font-size: 200px;
    color: #262626;
}
.thirdlinecup {
    width: 764px;
    height: 350px;
    position: relative;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/Cup.svg);
    background-repeat: no-repeat;
    font-family: 'FantasqueItalic';
    font-size: 200px;
    color: #262626;
}
.fourthlinecup {
    width: 764px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    top: 140px;
    background: url(../images/Cup.svg);
    background-repeat: no-repeat;
    font-family: 'FantasqueBoldItalic';
    font-size: 200px;
    color: #262626;
}
.seventh_screen {
    width: 1440px;
    height: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lable4 {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    position: absolute;
    top: -80px;
    left: 60px;
}
#scan7 {
    z-index: 100;
    position: absolute;
    left: 460px;
    margin-top: 420px;
}
.seventh_screen h1 {
    font-family: 'FantasqueItalic';
    font-size: 400px;
    color: #262626;
}
.seventh_screen h2 {
    font-family: 'FantasqueRegular';
    font-size: 200px;
    color: #262626;
}
.seventh_screen h3 {
    font-family: 'FantasqueBold';
    font-size: 100px;
    color: #262626;
}
.topparttext p {
    font-family: 'FantasqueRegular';
    font-size: 32px;
    color: #262626;
}
.bottomtext p {
    font-family: 'FantasqueRegular';
    font-size: 32px;
    color: #262626;
}
.toppart {
    display: flex;
    text-align: center;
    justify-content: center;
}
.topparttext {
    width: 496px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-end;
}
.middlepart {
    width: 1243px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 0 auto;
    z-index: 99;
}
.middlecrops > div {
    width: 160px;
    height: 160px;
    border: 4px solid #262626;
    margin-left: 0;
    overflow: hidden;
    position: relative; 
    border-radius: 100%;
    position: absolute;
    z-index: 100;
    background-color: #fff;
}
.m {
    position: absolute;
    margin: 40px 116px 0 0;
    right: -41px;
}
.m p {
    color: #262626;
    font-size: 800px;
    font-family: 'FantasqueItalic';
    position: absolute;
    top: -200px;
    left: -80px;
}
.m2 {
    margin: 200px 0 0 116px;
    left: 120px;
}
.m2 p {
    color: #262626;
    font-size: 800px;
    font-family: 'FantasqueItalic';
    position: absolute;
    top: -540px;
    left: 64px;
}
.bottompart {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottomtext {
    width: 562px;
    text-align: left;
    margin-right: auto;
    margin-left: 40px;
}
.bottomimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}
.bread {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bpimg3 {
    rotate: 20deg;
    position: absolute;
    right: 680px;
    bottom: 188px;
}
.bottompart h2 {
    text-align: right;
}
.bottompart h4 {
    text-align: right;
    letter-spacing: -10px;
    font-family: 'FantasqueRegular';
    font-size: 200px;
    color: #262626;
}
.bottompart h4 span {
    letter-spacing: -5px;
}
.bottompart h3 {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.tpimg {
    width: 836px;
    height: 300px;
    display: flex;
    position: relative;
}
.tpimg1 {
    rotate: -180deg;
    position: absolute;
    left: 0;
    top: 24px;
}
.tpimg2 {
    rotate: 40deg;
    position: absolute;
    left: 240px;
}
.tpimg3 {
    rotate: 220deg;
    position: absolute;
    right: 32px;
    bottom: 168px;
}
.separator2 {
    width: 1440px;
    margin: 60px 0 0 0;
}
.separator2 div {
    width: 858px;
    height: 74px;
    font-family: 'FantasqueBold';
    font-size: 90px;
    text-transform: uppercase;
    color: #262626;
    position: relative;
    rotate: 10deg;
    margin: 0 auto;
    bottom: 248px;
}
.eight_screen {
    width: 1440px;
    height: 880px;
    position: relative;
}
.lable5 {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    margin-left: 60px;
    margin-bottom: 47px;
}
.buble2 {
    width: 440px;
    height: 250px;
    background: url(../images/buble1.svg);
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    background-repeat: no-repeat;
    top: -40px;
    left: 524px;
    padding-top: 56px;
}
.bublecase {
    position: relative;
}
.buble2 h1 {
    font-family: 'FantasqueBoldItalic';
    font-size: 80px;
    line-height: 90%;
}
.buble2 h2 {
    font-family: 'FantasqueItalic';
    font-size: 60px;
    line-height: 90%;
}
#scan8 {
    z-index: 100;
    position: absolute;
    margin-left: 449px;
    margin-top: 340px;
}
.linepack {
    width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 0 40px;
}
.firstlinepack {
    width: 416px;
    height: 540px;
    position: relative;
    background: url(../images/package.svg);
}
.arrows {
    width: 346px;
    height: 370px;
    padding: 150px 0 0 56px;
}
.secondlinepack {
    top: 280px;
    background: url(../images/package.svg);
    width: 416px;
    height: 540px;
    position: relative;
    background: url(../images/package.svg);
}
.liga {
    width: 346px;
    height: 370px;
    text-align: center;
    padding: 240px 0 0 40px;
}
.liga > div > img {
    margin: 8px;
}
.thirdlinepack {
    width: 416px;
    height: 540px;
    position: relative;
    background: url(../images/package.svg);
}
.que {
    width: 346px;
    height: 370px;
    padding: 160px 0 0 88px;
}
.glyphtext {
    width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}
.glyphtext h1 {
    font-family: 'FantasqueBold';
    font-size: 220px;
    color: #262626;
}
.glyphtext h3 {
    width: 150px;
    height: 38px;
    font-family: 'FantasqueBold';
    font-size: 48px;
    color: #262626;
    rotate: -90deg;
    margin-left: -70px;
}
.glyphtext p {
    width: 415px;
    font-family: 'FantasqueRegular';
    font-size: 32px;
    color: #262626;
}
.minitextglyph {
    width: 380px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ninth_screen {
    width: 1440px;
    height: 1100px;
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.lable6 {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    position: absolute;
    top: 60px;
    left: 36px;
}
#scan9 {
    z-index: 100;
    position: absolute;
    left: 780px;
    margin-top: 550px;
}
.checkrollfirst {
    height: 888px;
    background-image: url(../images/checkroll.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.chrfcontent {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.checkrollfirst p {
    font-family: 'FantasqueRegular';
    font-size: 34px;
    color: #262626;
    text-align: center;
}
.textchrft {
    padding: 60px 0 60px 0;
    border-top: 4px dashed #000;
    border-bottom: 4px dashed #000;
}
.checkrollfirst h1 {
    font-family: 'FantasqueBold';
    font-size: 260px;
    color: #262626;
}
.checkrollfirst h3 {
    width: 288px;
    font-family: 'FantasqueBold';
    font-size: 68px;
    text-align: center;
    line-height: 80%;
    color: #262626;
}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkrollsecond {
    height: 888px;
    background-image: url(../images/checkroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.checkrollsecond h2 {
    width: 570px;
    text-align: center;
    font-family: 'FantasqueBold';
    font-size: 68px;
    color: #262626;
    display: flex;
    border-top: 4px dashed #000;
    padding: 40px 0 24px 0;
}
.checkcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    border-top: 4px dashed #000;
    border-bottom: 4px dashed #000;
    padding: 40px 0 40px 0;
}
.checktable {
    width: 570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}
.checktable > div {
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checktable h5 {
    font-family: 'FantasqueBold';
    font-size: 22px;
    color: #262626;
}
.checktable p {
    width: 200px;
    font-family: 'FantasqueRegular';
    font-size: 24px;
    color: #262626;
    letter-spacing: 2px;
    text-align: right;
}
.checkrollscan {
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.checkrollscan img {
    width: 336px;
    height: 50px;
}
.checkrollscan p {
    font-family: 'FantasqueRegular';
    font-size: 24px;
    color: #262626;
    line-height: 80%;
}
.tenth_screen {
    width: 1440px;
    height: 1024px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lable7{
    font-family: 'FantasqueRegular';
    font-size: 24px;
    line-height: 90%;
    position: absolute;
    top: 24px;
    left: 38px;
}
#scan10 {
    z-index: 100;
    position: absolute;
    right: 40px;
    margin-top: 640px;
}
.checktextimages {
    width: 1440px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    left: 40px;
}
.checktext {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
}
.checktext h1 {
    font-family: 'FantasqueBoldItalic';
    font-size: 100px;
    color: #262626;
}
.checktext h2 {
    font-family: 'FantasqueItalic';
    font-size: 90px;
    color: #262626;
}
.checktext h3 {
    font-family: 'FantasqueRegular';
    font-size: 80px;
    color: #262626;
}
.checktext h4 {
    font-family: 'FantasqueRegular';
    font-size: 70px;
    color: #262626;
}
.checktext h5 {
    font-family: 'FantasqueRegular';
    font-size: 60px;
    color: #262626;
}
.checktext h6 {
    font-family: 'FantasqueRegular';
    font-size: 50px;
    color: #262626;
}
.ivrit {
    font-family: 'FantasqueRegular';
    font-size: 40px;
    color: #262626;
}
.arabic {
    font-family: 'FantasqueRegular';
    font-size: 30px;
    color: #262626;
}
.quantitylang {
    right: 100px;
    bottom: 24px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 80px;
}
.quantitylang h1 {
    font-family: 'FantasqueBold';
    font-size: 240px;
    color: #262626;
    letter-spacing: -14px;
    line-height: 80%;
}
.quantitylang h3 {
    font-family: 'FantasqueBold';
    font-size: 60px;
    color: #262626;
    line-height: 80%;
}
footer {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    width: 258px;
    height: 110px;
    margin-right: 60px;
}
.foothertext {
    font-family: 'FantasqueRegular';
    font-size: 32px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}